%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{dialyzer, [
  {warnings, [unknown]},
  {plt_apps, all_deps},
  {base_plt_apps, [erts, kernel, stdlib, crypto, getopt]}
]}.

%% NOTE: When possible deps are referenced by Git ref to ensure consistency between builds.
{deps, [
  {lager, {git, "https://github.com/aeternity/lager.git",
    {ref, "9d97ae3"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git",
    {ref, "7c7a69c"}}},
  {erlydtl, {git, "https://github.com/erlydtl/erlydtl.git",
    {ref, "cb6dc12"}}},
  {yamerl, {"0.7.0"}}
  ]}.

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.12"}
    ]}
  ]}
]}.
