%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

%% NOTE: When possible deps are referenced by Git ref to ensure consistency between builds.
{deps, [
  {yamerl, "0.7.0"},
  {lager, {git, "https://github.com/aeternity/lager.git",
    {ref, "9d97ae3"}}},
  {jsx, {git, "https://github.com/talentdeficit/jsx.git",
    {ref, "7c7a69c"}}}
  ]}.

{profiles, [
  {test, [
    {deps, [
      {meck, "0.8.12"}
    ]}
  ]}
]}.
